<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <appSettings>

        <!-- Mandatory -->
        <add key="package" value="HourManagement.app" />

        <!-- Optional -->
        <add key="app" value="" />
        <add key="cmd" value=""/> <!-- The launch command for your application. If empty, ExeLauncher scans for an .exe-file. -->
        <add key="gui" value=""/> <!-- true or false. true = show launcher gui -->
        <add key="nuget" value="" /> <!--Path to Nuget.config. By default uses machine level configuration.-->
        <add key="approot" value=""/> <!-- Application's root folder. The packages are downloaded and installed here. Defaults to AppData + app if missing. -->

        <!-- Optionally can be provided through command line arguments: -app "My Application" -package "MyCompany.MyApplication" -nuget "C:\temp\NuGet.Config" -gui "true" -cmd "content\MyApp.exe" -->

    </appSettings>

</configuration>